/* Sticky Header */
.sticky-header {

 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  color:black;
  background-color:orange;
height: 80px;
  
}

.sticky-header .logo-txt {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 24px;
}

/* Adjust the margin of the main content to create space for the sticky header */
.main-content {
  margin-top: 60px;
}



/* Imports fonts for the webpage */
@font-face {
  font-family: 'Pragmatica-Extended-Bold';
  src: url(Fonts/PragmaticaExtendedBold.otf);
}
@font-face {
  font-family: 'Telegraph-Regular';
  src: url(Fonts/PPTelegraf-Regular.otf);
}
@font-face {
  font-family: 'Telegraph-UltraLight';
  src: url(Fonts/PPTelegraf-UltraLight.otf);
}
@font-face {
  font-family: 'Telegraf-UltraBold';
  src: url(Fonts/PPTelegraf-UltraBold.otf);
}
/* Fonts import ends */

html {
  background-image: url(img/error-page-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
}
/* margin-left and margin-right */
.logo-txt, .main-txt, .error-msg {
  margin-left: 80px;
}

/* Logo text on the top left corner */
.logo-txt {
  margin-top: 60px;
  font-family: 'Pragmatica-Extended-Bold';
  width: 100px;
  font-size: 18px;
  letter-spacing: 2px;
}
/* Main text on the center of the page */
.main-txt {
  margin: 60px 0 60px 80px;
  font-family: 'Telegraph-UltraLight';
  font-size: 160px;
  width: 900px;
}
/* Divider */
hr {
  color: white;
  margin: 0 80px 0 80px;
  border: 2px solid white;
}
/* Footer Properties */
footer {
  display: flex;
  /* margin-top: 25px; */
}
/* Error message Para 1 */
.error-msg {
  font-weight: 600;
  font-family: 'Telegraph-Regular';
  font-size: 30px;
  letter-spacing: 1.6px;
  width: 900px;
}
#error-msg1 {
  margin-bottom: 45px;
}
/* Bolder span text */
span {
  font-family: 'Telegraf-UltraBold';
  letter-spacing: 2px;
}
/* Social div block */
.socials {
  margin: 20px 118px;
  font-family: 'Pragmatica-Extended-Bold';
  text-align: left;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 45px;
}
/* Links */
a {
  color: white;  
  transition: color 0.25s;
}
a:hover {
  color: #0158a5;
}

.ig-link {
  display: block;
}

/* .sticky-header .logo-txt:hover {
  transform: translateX(100px);
  color: #ff0000;
} */


/* style.css */

/* Keyframes for moving text to the left */
@keyframes moveLeft {
  0% { transform: translateX(0); }
  50% { transform: translateX(1200px); }
}

.sticky-header .logo-txt {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 24px;
  animation: moveLeft 2s infinite;
}



ul li a {
  font-size: 20px;
  transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

ul li a:hover {
  font-size: 24px;
  background-color: #ff0000;
}


